[submodule "plugins/base"]
	path = plugins/base
	url = git@github.com:dynod/nmk-base.git
	branch = main
[submodule "plugins/python"]
	path = plugins/python
	url = git@github.com:dynod/nmk-python.git
	branch = main
[submodule "plugins/github"]
	path = plugins/github
	url = git@github.com:dynod/nmk-github.git
	branch = main
[submodule "samples/python"]
	path = samples/python
	url = git@github.com:dynod/nmk-python-sample.git
	branch = main
